body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 13px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the track */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(315deg, #2d7dd2 0%, #97cc04 74%); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: greenyellow; /* Color when hovered */
}

  
.topnav {
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    margin-bottom: 10%;
} 
.topnav a {
    float: left;
    color: black;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 10px 14px;
    text-align: center;
    font-size: 10px;
    margin-top: 3px;
    margin-left: 10px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-image: linear-gradient(315deg, #2d7dd2 0%, #97cc04 74%);
    color: white;
}
.iconlogo{
    float: left;
    margin-left: 50px;
    margin-right: 70px;
}
.ticketoptions{
    margin-top: -7px;
}



.content{
    display: flex;
    flex-direction: column;
}
.busbookingformbackground{
    width: 82.2em;
    height: 31em;
    box-sizing: border-box;
    margin-top: 9%;
    margin-left: 2%;
    border-radius: 25px;
    background-image: linear-gradient(315deg, #2d7dd2 0%, #97cc04 74%);
}
.BusTicketBookingheading{
    text-align: left;
    margin-left: 2em;
    font-family: Serif;
    font-size: 2em;
    text-decoration: none;
    color: white;
}
.busbookingformwhitebg{
    align-items: left;
    width: 30em;
    height: 20em;
    margin-left: 40px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
}

@media (max-width: 768px) {

    .busbookingformbackground{
        background-image: linear-gradient(315deg, #d22d2d 0%, #0407cc 74%);
    }
}